<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gdg.androidtitlan.dagger2">

    <application
        android:name="io.github.erikjhordanrey.dagger2.CategoryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="io.github.erikjhordanrey.dagger2.category.view.activity.CategoryActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
